/* @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap'); */
@font-face {
    font-family: 'Itim';
    src:url(./Assets/Fonts/Itim-Regular.ttf)
}

body {
    font-family: 'Itim';
    background: url(./Assets/photo-1477346611705-65d1883cee1e.jpg);
    background-size: cover;
}

/* .nav-link li {
    font-family: 'Itim';
    font-size: 28px;
    color: white
} */

/* .nav-link:hover {
    color: pink;
} */

.me-links a {
    padding: 0px 10px;
    font-family: 'Itim';
    font-size: 28px;
    color: white;
    text-decoration: none
}

.me-links a:hover {
    color: #ffe6ee;
}

.about-box {
    padding: 20px;
    font-family: 'Itim';
    font-size: 18px;
    color: white;
}

.about-box img {
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    position: relative;
    margin: auto;
}

.about-box h1 {
    font-size: 28pt;
}

.about-box a {
    color: white;
}

.about-box h2 {
    color: white;
}

.projects-box {
    font-family: Itim;
    color: white;
}

.contact-box {
    padding: 20px;
    font-family: 'Itim';
    font-size: 18px;
    color: white;
}