body {
    background-color: white;
}

header {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 1%, rgba(95,6,110,1) 59%);
}

nav {
    background-color: black;
}

.heropink {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(95,6,110,1) 100%);
}